<table id="topPolls">
    <table class="decorate" cellspacing="1px" cellpadding="5px" border="0" class="displayPoll">
        <thead>
            <tr><th> Top Polls</th></tr>
        </thead>
        <tbody>

        <F3:repeat group="{{@polls}}" key="{{@id}}" value="{{@lq}}">
            <tr><td>{{@lq.0}}</td></tr>
        </F3:repeat>


        </tbody>
    </table>
</table>


<script>
                                $(document).ready(function(){
                                    $('#topPolls').dataTable();
                                });



  var options = {
    "bProcessing": true,
    "bJQueryUI":false,
    "bAutoWidth": false,
    "oLanguage": {
      "sZeroRecords": "No polls to be displayed"
    },
    "sPaginationType": "full_numbers",
    "iDisplayLength": {{@conf.PAGESIZE}},
    "aoColumnDefs": [{
        "sWidth": '50px',
        "aTargets": [-1]
      }, {
        "sWidth": '100px',
        "aTargets": [0]
      }]
  };

  $Polls= $("#topPolls").dataTable(options);
  $('#topPolls tbody td a').click(function () {
     // $(this).css("color","8b9dc3");
    var nTr = $(this).parents('tr')[0];
    $(this).css("color","#8b9dc3");
  $(this).parents('tr').toggleClass('opened');
    if($(this).parents('tr').hasClass("opened")) {
      $Polls .fnOpen(nTr, getPollDetails($(this).attr('data-id')));
    } else {
     $Polls .fnClose(nTr);
    }
    return false;
  });

                            </script>
