<div>
  <h1 style="margin: 0px 0px 0px 10px; display:inline;">नयाँ  सवारी दर्ता फारम</h1>
  <a href="#" id="saveRegister">
    <img src="{{@BASE}}/{{@UI}}/images/save.png" title="Save" style="position: relative; top: 10px; left: 5px;" />
  </a>
  <!---  <input type="button" id="saveRegister" name="saveRegister" value="save">-->
</div>
<F3:check if="{{@error}}" >
  <div align="right" style="color:red">{{@error}}
  </div>
</F3:check>
<h2 align="right" style="font-size: 12px; color: #810541; margin: 0px;">(Fields with <b> *</b> are required  and others are optional)  </h2>

<form  method="post" id="new"enctype="multipart/form-data">
  <div id="registration">
    <fieldset>
      <legend>सवारीको विवरण</legend>
      <table>
        <tr>
          <td class="left">
            <label for=""> सवारीको किसिम </label>
          </td><td>
            <select name="wheeler"id="wheeler">
              <option  value="22"{{@POST.wheeler == 22 ? ' selected ="selected"' : ''}}>४  पांग्रे </option>
              <option value="21"{{@POST.wheeler == 21 ? ' selected ="selected"' : ''}}>२  पांग्रे </option>
              <option value="21"{{@POST.wheeler == 22 ? ' selected ="selected"' : ''}}>अन्य </option>
            </select>
        </tr>
        <tr>
          <td class="left"><label for="">मोडल:</label></td><td><input type="text" name="model" id="model" class="required" value="{{@POST.model}}">*जस्तै :-Unicorn </td></tr>
        <tr>
          <td class="left"><label for="">निर्माता कम्पनी </label></td><td>
            <select name="manufacture_id" id="manufacture_id" class="required">
              <F3:repeat group="{{@company}}" value="{{@type}}">
                <option value="{{@type.0}}"{{@POST.manufacture_id == @type.0 ? ' selected ="selected"' : ''}}>{{@type.1}}</option>
              </F3:repeat>
            </select>
            <input type="text" name="other_company" value="{{@POST.other_company}}" id="other_company" class="other">
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">निर्माण भएको साल</label>
          </td>
          <td>
            <input type="text" name="manufacture_date" id="manufacture_date"  class="required" value="{{@POST.manufacture_date ? @POST.manufacture_date : @date }}">*(साल /- महिना -गते)
          </td>
        </tr>
        <tr>
          <td class="left" ><label for="">इन्धनको किसिम</label>
          </td>
          <td>
            <select name="fuel_type_id" id="fuel_type_id">
              <F3:repeat group="{{@fuel_type}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.fuel_type_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
            <input type="text" name="other_fuel" value="{{@POST.other_fuel}}" id="other_fuel" class="other">
          </td><td></td>
        </tr>
        <tr>
          <td class="left">
            <label for="">इन्जिन नम्बर</label></td><td><input type="text" name="engine_num" id="engine_num" class="required" value="{{@POST.engine_num}}">*जस्तै :- ME4KC097J98029181
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">चेसिस नम्बर</label></td><td><input type="text" name="chessis_num" id="chessis_num" class="required" value="{{@POST.chessis_num}}">*जस्तै:-KC09E4124201
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">सिलिण्डर संख्या</label>
          </td>
          <td>
            <input type="text" name="cylinder_num" id="cylinder_num" class="required" value="{{@POST.cylinder_num}}">*</td></tr>
        <tr>
          <td class="left">
            <label for="">सि सि /हर्ष पावर  </label>
          </td>
          <td>
            <input type="text" name="horse_power" id="horse_power" class="required"value="{{@POST.horse_power}}">*
            <select  name="horse_power_type" id="horse_power">
              <option value="cc"{{@POST.horse_power_type == "cc" ? ' selected ="selected"' : ''}}>सि सि</option>
              <option value="hp"{{@POST.horse_power_type == "hp" ? ' selected ="selected"' : ''}}>हर्ष पावर </option>

            </select>
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">इलेक्ट्रोनिक  उपकरण</label>
          </td>
          <td>
            <input type="text" name="electronic_device" id="electronic_device" value="{{@POST.electronic_device}}">
          </td>
        </tr>
        <F3:exclude>
          <tr>
            <td class="left">
              <label for="">दर्ता मिति</label>
            </td>
            <td>
              <input type="text" id="registration_date" name="registration_date"  value="{{@POST.registration_date ? @POST.registration_date :@date }}" class="required" class="date" >*(साल - महिना -गते)<span class="dateformat">date format is wrong</span></td> </tr>
          <tr>
            <td class="left">
              <label for=""> दर्ता प्रमाणपत्र  नम्बर</label>
            </td>
            <td>
              <input type="text" name="certificate_num" id="certificate_num" value="{{@POST.certificate_num ? @POST.certificate_num : 0}}" ></td> </tr></F3:exclude>
        <tr>
          <td class="left">
            <label for="">प्रयोजन</label>
          </td>
          <td>
            <select name="purpose_id" id="purpose_id" class="required">
              <F3:repeat group="{{@use_purpose}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.purpose_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
            <input type="text" name="other_use" value="{{@POST.other_use}}" id="other_use" class="other">
          </td>
        </tr>
        <tr id="hood">
          <td class="left">
            <label for="">हुड</label>
          </td>
          <td>
            <select name="hood" id="hoods">
              <option value="1"{{@POST.hood == 1 ? ' selected ="selected"' : ''}}> छ</option>
              <option value="2"{{@POST.hood == 2 ? ' selected ="selected"' : ''}}> छैन </option>
            </select>
          </td>
        </tr>
        <tr><td class="left">
            <label for="vehicle_type">सवारीको  किसिम</label>
          </td><td>
            <select name="type" id="type">
              <F3:repeat group="{{@vehicle_type}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.type == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
            <input type="text" name="other_vehicle" value="{{@POST.other_vehicle}}" id="other_vehicle" class="other">
          </td>
        </tr>
        <F3:exclude>    <tr><td class="left"><label for="">कैफियत</label></td><td><input type="textarea" name="remarks" id="remarks" width="200px" breadth="200px"  value="{{@POST.remarks}}"> </td></tr></F3:exclude>
      </table>
    </fieldset>


    <F3:exclude>
      <fieldset>
        <legend>प्राविधिक निरिक्षकको विवरण  /  कार्यालय प्रयोजनको लागि मात्र </legend>
        <table>
          <tr>
            <td class="left">
              <label for="">निरिक्षकको नाम</label>
            </td><td><input type="text" name="technical_inspector"id="technical_inspector" value="{{@POST.technical_inspector}}"></td></tr>
          <tr>
            <td class="left">
              <label for="">मिति</label>
            </td><td><input type="text" id="inspection_date" name="inspection_date"  value="{{@POST.inspection_date}}" class="date">(साल - महिना -गते)</td></tr>
        </table>
      </fieldset>
    </F3:exclude>


    <fieldset id="bhansar">
      <legend>भन्सार विवरण</legend>
      <table >
        <tr>
          <td class="left">
            <label for="" >सवारी प्राप्त विवरण</label>
          </td>
          <td>
						नयाँ <input type="radio" name="custom_receive_type" id="new_type" class="required" value="new"{{@POST.custom_receive_type == 'new' ? ' checked="checked"' : ''}}>&nbsp;
                        लिलामी<input type="radio" name="custom_receive_type" id="lilami_type" class="required" value="lilami"{{@POST.custom_receive_type == 'lilami' ? ' checked="checked"' : ''}}>&nbsp;जफत
                        <input type="radio" name="custom_receive_type" id="jafat_type" class="required" value="jafat"{{@POST.custom_receive_type == 'jafat' ? ' checked="checked"' : ''}}>
          </td>
        </tr>
        <tr id="lilami_office" style="display: none">
          <td><label for="">कार्यालय </label>
          </td>
          <td><select name="custom_office_type" id="lilami_option">
               <option value="bhansar"{{@POST.custom_office_type == 'bhansar' ? ' selected="selected"' : ''}}>भन्सार</option>
              <option value="other"{{@POST.custom_office_type == 'other' ? ' selected="selected"' : ''}}>अन्य</option>
            </select>
          </td>
        </tr>
      </table >
      <!-- anya ko inforamtion-->
      <table id="anya_info" style="display: none">
        <tr>
          <td class="left">
            <label for="">कार्यालयको नाम </label></td>
          <td><input type="text" name="custom_office_name" id="anya_office"  value="{{@POST.custom_office_name}}"></td>
        </tr>
        <tr>
          <td class="left">
            <label for="">लिलाम मिति</label></td> 
          <td><input type="text" id="lilami_date" name="lilami_date"  class="date" value="{{@POST.lilami_date ? @POST.lilami_date : @date}}">*(साल - महिना -गते)</td>
        </tr>
        <tr>
          <td class="left">
            <label for="">चलानी नम्बर</label></td>
          <td><input type="text" name="jafat_chalani_number " id="chalani_no"  value="{{@POST.jafat_chalani_number}}"></td>
        </tr>
        <tr>
          <td class="left">
            <label for="">चलानी मिति</label></td>
          <td><input type="text" id="chalini_date" name="jafat_chalani_date "  class="date" value="{{@POST.jafat_chalani_date ? @POST.jafat_chalani_date : @date}}">*(साल - महिना -गते)</td>
        </tr>

      </table>

      <!-- anya ko inforamtion-->
      <table id="jafat_info" style="display: none">
        <tr>
          <td class="left">
            <label for="">निर्णय  मिति </label></td>
          <td><input type="text" id="nirnaya_date" name="jafat_decision_date"  class="date" value="{{@POST.jafat_decision_date ? @POST.jafat_decision_date : @date}}">*(साल - महिना -गते)</td>
        </tr>
        <tr>
          <td class="left">
            <label for="">निर्णय गर्ने पदाधिकारी</label></td>
          <td><input type="text" name="jafat_decision_maker" id="jafat_office"  value="{{@POST.jafat_decision_maker}}"></td></td>
        </tr>
        <tr>
          <td class="left">
            <label for="">चलानी नम्बर</label></td>
          <td><input type="text" name="jafat_chalani_number" id="jafat_chalani_no"  value="{{@POST.jafat_chalani_number}}"></td>
        </tr>
        <tr>
          <td class="left">
            <label for="">चलानी मिति</label></td>
          <td><input type="text" id="jafat_chalini_date" name="jafat_chalani_date"  class="date" value="{{@POST.jafat_chalani_date ? @POST.jafat_chalani_date : @date}}">*(साल - महिना -गते)</td>
        </tr>

      </table>

      <table id="customoffice" style="display: none">
        <tr>
          <td class="left">
            <label for="">भन्सार कार्यालय</label>
          </td>
          <td>
            <select  name="custom_office_id" id="custom_office">
              <F3:repeat group="{{@custom_office}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.custom_office_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">प्रज्ञापन पत्र नम्बर </label></td><td><input type="text" name="pragyapan_patra_no" id="pragyapan_patra_no" class="required" value="{{@POST.pragyapan_patra_no}}">*</td></tr>
        <tr>
          <td class="left">
            <label for="">प्रज्ञापन पत्र मिति</label></td> <td><input type="text" id="custom_Date" name="custom_Date"  class="date" value="{{@POST.custom_Date ? @POST.custom_Date : @date}}">*(साल - महिना -गते)</td></tr>
        <tr>
          <td class="left">
            <label for="">रसिद नम्बर</label>
          </td>
          <td>
            <input type="text" name="receipt" id="receipt_num" class="required" value="{{@POST.receipt ?@POST.receipt :@POST.receipt_num}}">*
          </td>
        </tr>
        <tr>
          <td>
            <label for="">रसिदको मिति</label>
          </td>
          <td>
            <input type="text" name="receipt" id="receipt_date" class="required" value="{{@POST.receipt ?@POST.receipt :@POST.receipt_num}}">*(साल - महिना -गते)
          </td>
        </tr>
        <F3:exclude>
          <tr>
            <td class="left">
              <label for="">कैफियत</label>
            </td>
            <td>
              <input type="textarea" name="custom_remarks" id="custom_remarks" value="{{@POST.custom_remarks}}">
            </td>
          </tr>   
        </F3:exclude>

      </table>
    </fieldset>
    <F3:exclude>
      <fieldset >
        <legend>प्रबेश दर्ता विवरण  /  कार्यालय प्रयोजनको लागि मात्र </legend>
        <table >
          <tr>
            <td class="left">
              <label for="">प्रहरी कायार्लयको नाम</label>
            </td>
            <td>
              <input type="text" name="police_office" id="police_office" value="{{@POST.police_office}}"></td> </tr>
          <tr>
            <td class="left">
              <label for="">दर्ता नं.</label>
            </td>
            <td>
              <input type="text" name="registration_num" id="registration_num" value="{{@POST.registration_num}}"></td> </tr>
          <tr>
            <td class="left">
              <label for="">मिति</label>
            </td>
            <td>
              <input type="text" id="entry_date" name="entry_date"  value="{{@POST.entry_date}}" class="date">(साल - महिना -गते)<span class="dateformat">date format is wrong</span></td> </tr>
        </table>
      </fieldset>
    </F3:exclude>

    <div id="vehicleInfo">
      <fieldset >
        <legend>वजन क्षमता</legend>
        <table>
          <tr>
            <td>
              <label for="">कुल वजन</label>
              <input type="text"  name="weight"id="weight"  value="{{@POST.weight ? @POST.weight : 0}}" size="2" maxlength="4">
              <select name="weight_type">
                <option selected="selected" value="kg"{{@POST.weight_type == 'kg' ? ' selected ="selected"' : ''}}>के जी</option>
                <option value="tn"{{@POST.weight_type == 'tn' ? ' selected ="selected"' : ''}}>टन</option>
              </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="">वजन क्षमता</label>
              <input type="text" name="weight_capacity" id="weight_capacity"  value="{{@POST.weight_capacity ? @POST.weight_capacity : 0 }}" size="2" maxlength="4">
              <select name="weight_capacity_type">
                <option selected="selected" value="kg"{{@POST.weight_type == 'kg' ? ' selected ="selected"' : ''}}>के जी</option>
                <option value="tn"{{@POST.weight_type == 'tn' ? ' selected ="selected"' : ''}}>टन</option>
              </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <label for="">सिट संख्या</label>
              <input type="text" name="seat_num" id="seat_num"  value="{{@POST.seat_num ? @POST.seat_num : 0 }}" size="2" maxlength="4"></td></tr>
        </table>
      </fieldset>
    </div>

    <fieldset>
      <legend>सवारीको रङ्ग</legend>
      <table>
        <tr>
          <td class="left">
            <label for="">बडिको रङ्ग</label>
          </td>
          <td>
            <select  name="color_id" id="color_id">
              <F3:repeat group="{{@vehicle_color}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.color_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
          </td></tr>
        <tr id="glass_color">
          <td>
            <label for="">शिशाको रङ्ग</label></td><td>
            <select name="glass_color_id" id="glass_color_id" >
              <option value="1"{{@POST.glass_color_id == 1 ? ' selected ="selected"' : ''}}> छ</option>
              <option value="2"{{@POST.glass_color_id == 2 ? ' selected ="selected"' : ''}}> छैन </option>
            </select>
          </td>
        </tr>
      </table>
    </fieldset>

    <fieldset >
      <legend>सवारी दर्ता  गर्ने अञ्चल यातायात व्यवस्था कार्यालय  छान्नु होस |</legend>
      <table>
        <tr><td class="left"><label for="">अञ्चल</label></td><td>
            <select name="zone_id" id="zone_id" >
              <F3:repeat group="{{@zone_code}}" value="{{@list}}">

                <option value="{{@list.0}}"{{@POST.zone_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.2}}</option>

              </F3:repeat>
            </select>
        <F3:exclude>
          <input type="text" name="lot_number" id="lot_number"  size="2" maxlength="2" value="{{@POST.lot_number}}" readonly>*
          <select type="text" name="vehicle_symbol_type_two" id="vehicle_symbol_type_two">
            <F3:repeat group="{{@type_symbol}}" value="{{@list}}">

              <option value="{{@list.id}}"{{@POST.vehicle_symbol_type_two == @list.id ? ' selected ="selected"' : ''}}>{{@list.name}}</option>

            </F3:repeat>
          </select>
          <select type="text" name="vehicle_symbol_type_four" id="vehicle_symbol_type_four" >
            <F3:repeat group="{{@type_symbols}}" value="{{@list}}">
              <option value="{{@list.id}}"{{@POST.vehicle_symbol_type_four == @list.id ? ' selected ="selected"' : ''}}>{{@list.name}}</option>
            </F3:repeat>
          </select>
          <input type="text" name="number" id="number"  size="2" maxlength="4" value="{{@POST.number}}" readonly>*</td></tr>
        </F3:exclude>
      </table>
    </fieldset>

    <F3:exclude>
      <fieldset>
        <table>
          <tr>
            <td class="left">
              <label for="">कर लाग्छ</label>
            </td><td><input type="checkbox" name="tax" id="tax" value="1"{{@POST.tax == '1' ? ' checked="checked"' : ''}}></td>
        </table>
      </fieldset>
    </F3:exclude>

    <table >
      <tr><td colspan="2"><input type="button"  class="button" value="सवारी धनीको विवरणको लागि यहाँ थिच्नु  होला |" id="btnSubmit" style="margin-left: 10px;"><!---<input type="button" value="cancel"  name="" id="">--></td>
        <!---<a href="{{@BASE}}/owner/{{@vid}}">पछाडी <a>-->
    </table>
  </div>

  <div id="owner"><h1>{{@heading}}</h1><h2>  <a href="{{@BASE}}/register">{{@back}} </a></h2>
    <fieldset>
      <legend>व्यक्तिगत विवरण</legend>
      <table >
        <tr>
          <td class="left">
            <label for="">नयाँ सवारी धनीको फोटो / अथवा स्टाम्प </label>
          </td>
          <td>
       
            <input name="uploadfile" type="file"  data-max-size='32k' class="required" data-type='image' id="inputimage" value="{{@POST.uploadfile}}"/>
            
        </F3:check>
        </td>
        </tr>
        <tr>
          <td class="left"><label for="">सवारी धनीको किसिम</label></td><td>
            <select name="owner_type" id="owner_type">
              <F3:repeat group="{{@owner_type}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.owner_type == @list.0 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
              </F3:repeat>
            </select>
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="name"><span id="names">नाम</span>  </label>
          </td>
          <td>
            <input type="text" name="first_name" id="first_name" class="required" value="{{@POST.first_name}}">*</td></tr>
        <tr id="caste">
          <td class="left" >
            <label for="caste" class="labels" >थर</label>
          </td>
          <td>
            <input type="text" name="last_name" id="last_name" class="required" value="{{@POST.last_name}}">*</td></tr>
        <tr id="father">
          <td class="left">
            <label for="father_name" class="labels">बाबु /आमा/ पतीको नाम</label></td><td><input type="text" name="father_name" id="father_name" value="{{@POST.father_name}}"></td></tr>
        <F3:exclude>
          <tr id="grand_father"><td class="left">
              <label for="grandfather_name" class="labels">हजुर बुबाको नाम</label>
            </td>
            <td>
              <input type="text" name="grandfather_name" id="grandfather_name" value="{{@POST.grandfather_name}}"></td></tr></F3:exclude>
        <tr>
          <td class="left">
            <label for="dob"><span id="reg">जन्म मिति</span></label>
          </td>
          <td>
            <input type="text" name="dob" id="dob"value="{{@POST.dob}}" >(साल - महिना -गते)
          </td>
        </tr>
        <tr id="regNum">
          <td class="left">
            <label for=""><span id="reg">रजिष्ट्रेशन नम्बर</span> </label>
          </td>
          <td>
            <input type="text" name="reg_num" id="reg_num" value="{{@POST.reg_num}}" >
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="email">इमेल ठेगाना </label>
          </td>
          <td>
            <input type="text" name="email" id="email" value="{{@POST.email}}">
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="mobileno">सम्पर्क नम्बर</label>
          </td>
          <td>
            <input type="text" name="mobileno" id="mobileno" class="required" value="{{@POST.mobileno}}">*
          </td>
        </tr>
      </table>
    </fieldset>

    <fieldset>
      <legend>
        <span  id="address">स्थायी ठेगाना</span>
      </legend>
      <table >
        <tr>
          <td class="left">
            <label for="">अञ्चल</label>
          </td>
          <td>
            <select name="p_zone_id" id="p_zone_id">
              <F3:repeat group="{{@zone_code}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.p_zone_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.2}}</option>
              </F3:repeat>
            </select>
        </tr>
        <tr>
          <td class="left">
            <label for="">जिल्ला</label>
          </td>
          <td>
            <select name="p_district_id" id="p_district_id">
              <F3:exclude>
                <F3:repeat group="{{@district_code}}" value="{{@list}}">
                  <option value="{{@list.1}}"{{trim(@POST.p_district_id) == @list.1 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
                </F3:repeat>
              </F3:exclude>
            </select>
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">नगरपालिका / गा. वि. स.</label>
          </td>
          <td><input type="text" name="p_metropolitan" id="p_metropolitan" class="required" value="{{@POST.p_metropolitan}}">*
          </td>
        </tr>
        <tr>
          <td  class="left"><label for="">वडा  नम्बर </label>
          </td>
          <td>
            <input type="text" name="p_ward_no"id="p_ward_no" value="{{@POST.p_ward_no}}">
          </td>
        </tr>
        <F3:exclude>
          <tr>
            <td class="left">
              <label for="">टोल</label>
            </td>
            <td>
              <input type="text" name="p_address"id="p_address" value="{{@POST.p_address}}">
          </tr>
          <tr>
            <td class="left">
              <label for="">ब्लक नं / घर न </label>
            </td>
            <td>
              <input type="text" name="p_house_no"id="p_house_no" value="{{@POST.p_house_no}}">
            </td>
          </tr>
        </F3:exclude>
        <tr>
          <td class="left">
            <label for="">फोन नम्बर </label>
          </td>
          <td>
            <input type="text" name="p_phone"id="p_phone" class="required" value="{{@POST.p_phone}}">*
          </td>
        </tr>
      </table>
    </fieldset>

    <fieldset id="presentAddress">
      <legend>हालको ठेगाना</legend>
      <table>
        <tr>
          <td class="left">
            <label for="">अञ्चल</label>
          </td><td>
            <select name="temp_zone_id"id="temp_zone_id">
              <F3:exclude>
                <option value="">Select</option>
              </F3:exclude>
              <F3:repeat group="{{@zone_code}}" value="{{@list}}">
                <option value="{{@list.0}}"{{@POST.temp_zone_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.2}}</option>
              </F3:repeat>
            </select>
          </td></tr>
        <tr><td class="left">
            <label for="">जिल्ला</label>
          </td>
          <td>
            <select name="temp_district_id" id="temp_district_id">
              <F3:exclude>
                <option value="">Select</option>
                <F3:repeat group="{{@district_code}}" value="{{@list}}">
                  <option value="{{@list.1}}"{{trim(@POST.temp_district_id) == @list.1 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
                </F3:repeat>
              </F3:exclude>
            </select></td></tr>
        <tr>
          <td class="left">
            <label for="">नगरपालिका / गा. वि. स.</label>
          </td>
          <td>
            <input type="text" name="temp_metropolitan"id="temp_metropolitan" class="required" value="{{@POST.temp_metropolitan}}">*
          </td>
        </tr>
        <tr>
          <td class="left">
            <label for="">वडा  नम्बर </label>
          </td>
          <td>
            <input type="text" name="temp_ward_no"id="temp_ward_no" value="{{@POST.temp_ward_no}}" class="required">*
          </td>
        </tr>
        <F3:exclude>
          <tr>
            <td class="left">
              <label for="">टोल</label>
            </td>
            <td>
              <input type="text" name="temp_address"id="temp_address" value="{{@POST.temp_address}}"></td></tr>
          <tr>
            <td class="left" ><label for="">ब्लक नं / घर नं</label></td><td><input type="text" name="temp_house_no"id="temp_house_no" value="{{@POST.temp_house_no}}">
            </td>
          </tr>
        </F3:exclude>
        <tr>
          <td class="left">
            <label for="">फोन नम्बर </label>
          </td>
          <td>
            <input type="text" name="temp_phone"id="temp_phone" class="required" value="{{@POST.temp_phone}}">*
          </td>
        </tr>
      </table>
    </fieldset>
    <br>

    <div id="6" style="display:none;" class="hide">
      <fieldset>
        <legend>संरक्षकको विवरण</legend>
        <table>
          <tr>
            <td class="left">
              <label for="">संरक्षकको नाम थर </label>
            </td>
            <td>
              <input type="text" name="nabalik_guardian_name"id="nabalik_guardian_name" class="required" value="{{@POST.nabalik_guardian_name}}">*
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">संरक्षकसंगको नाता</label>
            </td>
            <td>
              <input type="text" name="nabalik_relation"id="nabalik_relation" class="required" value="{{@POST.nabalik_relation}}">*
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">नागरिकता  / पासपोर्ट नम्बर </label>
            </td>
            <td><input type="text" name="nabalik_identity_no"id="nabalik_identity_no" class="required" value="{{@POST.nabalik_identity_no}}">*
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">जिल्ला</label>
            </td>
            <td>
              <select name="nabalik_district"id="nabalik_district">
                <option value="">Select</option>
                <F3:repeat group="{{@district_code}}" value="{{@list}}">
                  <option value="{{@list.1}}"{{@POST.nabalik_district == @list.1 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
                </F3:repeat>
              </select>
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">जारी मिति </label>
            </td>
            <td>
              <input type="text" name="nabalik_year" id="nabalik_year"  value="{{@POST.nabalik_year}}" class="date"  class="required">*(साल - महिना -गते)
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for=""> संरक्षकको ठेगानां</label>
            </td>
            <td>
              <input type="text"  name="nabalik_address" id="nabalik_address" class="required" value="{{@POST.nabalik_address}}">
            </td>
          </tr>
        </table>
      </fieldset>
    </div>

    <div id="5" style="display:none;" class="hide">
    </div>


    <div id="2" style="display:none;" class="hide">
      <fieldset>
        <legend>ॠणीको  विवरण</legend>
        <table>
          <tr>
            <td class="left">
              <label for="">ॠणीको नाम थर </label>
            </td>
            <td>
              <input type="text"  name="bank_name" id="bank_name" class="required" value="{{@POST.bank_name}}">*</td></tr>
          <tr>
            <td class="left">
              <label for="">ॠणीको  नागरिकता नम्बर</label>
            </td>
            <td>
              <input type="text"  name="creditor_name" id="creditor_name" class="required" value="{{@POST.creditor_name}}" >*</td></tr>
          <tr>
            <td class="left">
              <label for="">जारी जिल्ला</label>
            </td>
            <td>
              <select  name="creditor_district" id="creditor_district">
                <option value="">Select</option>
                <F3:repeat group="{{@district_code}}" value="{{@list}}">
                  <option value="{{@list.1}}"{{@POST.creditor_district == @list.1 ? ' selected ="selected"' : ''}} >{{@list.1}}</option>
                </F3:repeat>
              </select>
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">जारी मिति </label>
            </td>
            <td>
              <input type="text"  name="creditor_year" id="creditor_year" value="" class="date" value="{{@POST.creditor_year}}">*(साल - महिना -गते)</td>
          </tr>

        </table>
      </fieldset>
      <fieldset>
        <legend> ॠणीको  ठेगाना</legend>
        <!--  <tr>
             <td class="left">
               <label for="">ॠणीको  ठेगाना</label>
             </td>
             <td>
               <input type="text"  name="creditor_address" id="creditor_address" class="required" value="{{@POST.creditor_address}}"></td></tr>-->
        <table>
          <tr>
            <td class="left">
              <label for="">अञ्चल</label>
            </td>
            <td>
              <select name="temp_zone_id" id="creditor_zone_id">
                <F3:repeat group="{{@zone_code}}" value="{{@list}}">
                  <option value="{{@list.0}}"{{@POST.temp_zone_id == @list.0 ? ' selected ="selected"' : ''}}>{{@list.2}}</option>
                </F3:repeat>
              </select>
          </tr>
          <tr>
            <td class="left">
              <label for="">जिल्ला</label>
            </td>
            <td>
              <select name="temp_district_id" id="creditor_district_id">
                <F3:exclude>
                  <F3:repeat group="{{@district_code}}" value="{{@list}}">
                    <option value="{{@list.1}}"{{trim(@POST.temp_district_id) == @list.1 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
                  </F3:repeat>
                </F3:exclude>
              </select>
            </td>
          </tr>
          <tr>
            <td class="left">
              <label for="">नगरपालिका / गा. वि. स.</label>
            </td>
            <td><input type="text" name="temp_metropolitan" id="creditor_metropolitan" class="required" value="{{@POST.temp_metropolitan}}">*
            </td>
          </tr>
          <tr>
            <td  class="left"><label for="">वडा  नम्बर </label>
            </td>
            <td>
              <input type="text" name="temp_ward_no"id="creditor_ward_no" value="{{@POST.temp_ward_no}}">
            </td>
          </tr>
        </table>

      </fieldset>
    </div>


    <div id="3" style="display:none;" class="hide">
      <fieldset >
        <legend>  नागरिकता/ पासपोर्ट विवरण</legend>
        <table >
          <tr>
            <td class="left">
              <label for="">राष्ट्रियता </label>
            </td>
            <td>
          <F3:exclude>
            <input type="text"  name="per_nagarikta" id="" class="required" value="{{@POST.per_nagarikta}}"></F3:exclude>
          <select  name="per_nagarikta" id="per_nagarikta" class="required" >
            <option value="1"{{trim(@POST.per_nagarikta) == 1 ? ' selected ="selected"' : ''}}>Nepali</option>
            <option value="2"{{trim(@POST.per_nagarikta) == 2 ? ' selected ="selected"' : ''}}>Indian</option>
            <option value="3"{{trim(@POST.per_nagarikta) == 3 ? ' selected ="selected"' : ''}}>Others</option>
          </select>
          </td>
          </tr>
          <tr class="nepali">
            <td class="left">
              <label for=""> नागरिकता / पासपोर्ट नम्बर</label>
            </td>
            <td>
              <input type="text"  name="per_identificationno" id="per_identificationno" class="required" value="{{@POST.per_identificationno}}">*
            </td>
          </tr>
          <tr class="nepali">
            <td class="left">
              <label for="">जारी  जिल्ला</label>
            </td><td>
              <select  name="per_district" id="per_district">
                <option value="">Select</option>
                <F3:repeat group="{{@district_code}}" value="{{@list}}">
                  <option value="{{@list.1}}"{{@POST.per_district == @list.1 ? ' selected ="selected"' : ''}}>{{@list.1}}</option>
                </F3:repeat>
              </select>
            </td>
          </tr>
          <tr class="nepali">
            <td class="left">
              <label for="">जारी मिति</label>
            </td>
            <td>
              <input type="text"  name="per_year" id="per_year"  class="date" class="required" value="{{@POST.per_year}}"> *(साल - महिना -गते)</td>
          </tr>

          <tr id="embassy_num"> <!--for Indian nationality-->
            <td class="left">
              <label for="">पासपोर्ट / दुताबास दार्ता  नम्बर </label>
            </td>
            <td>
             <input type="text"  name="indian_identificationno" id="" class="required" value="{{@POST.indian_identificationno}}">*
            </td>
          </tr>
          <tr id="other_nationality">
            <td>पासपोर्ट नम्बर </td>
            <td>
              <input type="text"  name="other_identificationno" id="" class="required" value="{{@POST.other_identificationno}}">*
              </td>
          </tr>

        </table>
      </fieldset>
    </div>
    <fieldset>
      <legend> तल सेकुरिटी कोड लेख्नु होला  </legend>
    <table>
      <tr>
        <td class="left"> <img id="captcha_image" src="{{@BASE}}/image" title="captcha image" alt="captcha" /><br>(सेकुरिटी कोड)
        </td>
        <td>
          <input type="text" name="code"  name="" id="code" class="required" value="सेकुरिटी कोड"> *
          
        </td>
      <tr>
      <tr>
        <td>
        </td>
        <td ><input type="submit" value="submit" class="button"><input type="button" value="Back for review"  name="" id="cancel" class="button"></td>
      </tr>
    </table>
    </fieldset>

  </div>
</form>




<script type="text/javascript">
  $("#new").validate({
    messages: {
      required: "Required.",
      email: "Invalid email",
      lot_number: "Invalid lot number",
      number: "Invalid number"
    }
   
  });

 
  $(".other").hide();
  $("#regNum").hide();
  $("#vehicle_symbol_type_two").hide();
  $("#wheeler").change(function()
  {
    var wheeler = $(this).children(":selected").attr("value");
    if(wheeler == 22 )
    {
      $("#vehicle_symbol_type_four").show();
      $("#vehicle_symbol_type_two").hide();
      $("#vehicleInfo").show();
      $("#hood").show();
      $("#glass_color").show();
    }
    else{
      $("#vehicle_symbol_type_two").show();
      $("#vehicle_symbol_type_four").hide();
      $("#vehicleInfo").hide();
      $("#hood").hide();
      $("#glass_color").hide();
    }

  });
  

  jQuery.validator.addMethod("mobileNo", function(phone_number, element) {
    return this.optional(element) || phone_number.length == 10 &&
      phone_number.match(/^(98|97)+[0-9]{8}$/);
  }, "Please specify a valid phone number");

  /*  jQuery.validator.addMethod("picture", function(val, element) {
    return this.optional(element) ||
      val.match(/(?:gif|jpg|png|bmp)$/);
  }, "Please insert a picture ");
   */

  $("#manufacture_date").rules("add", {date:true});
  //$("#registration_date").rules("add", {date:true});
  //$("#inspection_date").rules("add", {date:true});
  $("#custom_Date").rules("add", {date:true});


  //$("#entry_date").rules("add", {date:true});
  // $("#lot_number").rules("add", {maxlength:2,number:true});
  // $("#number").rules("add", {maxlength: 4,number:true});
  //$("#custom_receive_type"). rules("add",{ required:true });
//
  var $radio = $('input:radio[name="custom_receive_type"]');
  $radio.addClass("validate[required]");
  $("#model").rules("add", {maxlength: 12});
  $("#mobileno").rules("add", {  required: true, mobileNo : true});
  //$("#inputimage").rules("add", {  required: true});
  $("#weight").rules("add", {number:true});
  $("#weight_capacity").rules("add", {number:true});
  $("#seat_num").rules("add", {number:true});
  $("#owner").hide();
  $("#email").rules("add", {email:true});
  $(".dateformat").hide();
  $("#vehicleOwner").validate();

  //gives owner type eg personal,bank,importer
 
  $("#owner_type").change(function () {
    var id = $(this).children(":selected").attr("value");
    $(".hide").hide();
    $("#" + id).show();
    if( id == 1 || id == 4 || id == 2)
    {
      $("#caste").hide();
      $("#grand_father").hide();
      $("#father").hide();
      $("#presentAddress").hide();
      $('#address').text('ठेगाना');
      $('#reg').text(' दर्ता मिति');
      $("#regNum").show();
      if(id == 1)
      {
        $('#names').text('कम्पनीको नाम ');
      }
      if(id == 4)
      {
        $('#names').text('संस्थाको नाम');
      }
      if(id == 2)
      {
        $('#names').text('बैंक तथा बित्तिय संस्थाको नाम');
      }

    }
    else
    {
      $("#regNum").hide();
      $('#address').text('स्थायी ठेगाना');
      $('#reg').text('जन्म मिति ');
      $('#names').text('नाम');
      $("#caste").show();
      $("#grand_father").show();
      $("#father").show();
      $("#presentAddress").show();
    }
  });

  //onclick shows th owner page
  $("#btnSubmit").click(function() {
    if ($("#new").validate().form()) {
      $("#owner").show();
      $("#registration").hide();
    }
  });

  // $("#new").submit(function() {//generate new captcha
  //  $("#captcha_image").attr('src', '');
  // $("#captcha_image").attr('src', '{{@BASE}}/image');
  //  });

  $("#cancel").click(function(){
    $("#owner").hide();
    $("#registration").show();
  });




  var bank=2;
  var personal=3;
  var nabalik=6;
   <F3:check if="{{@POST.owner_type == 2 || @POST.owner_type == 4 ||@POST.owner_type ==1}}">
    <F3:true>
      $("#caste").hide();
      $("#grand_father").hide();
      $("#father").hide();
      $("#presentAddress").hide();
      $('#address').text('ठेगाना');
      $('#reg').text('दर्ता मिति');
      $("#regNum").show();
      <F3:check if="{{@POST.owner_type == 2}}">
      $('#names').text('बैंक तथा बित्तिय संस्थाको नाम');
      </F3:check>
      <F3:check if="{{@POST.owner_type == 4}}">
      $('#names').text('सस्थाको नाम');
      </F3:check>
      <F3:check if="{{@POST.owner_type == 1}}">
      $('#names').text('कम्पनीको नाम ');
      </F3:check>
    </F3:true>
    <F3:false>
      $("#regNum").hide();
      $('#reg').text('जन्म मिति ');
      $('#names').text('नाम');
      $("#caste").show();
      $("#grand_father").show();
      $("#father").show();
      $("#presentAddress").show();
    </F3:false>
    </F3:check>


    var img = document.getElementById('inputimage');
  var width = img.clientWidth;
  var height = img.clientHeight;

  /*
  var img = document.getElementById('file');
  var width = img.clientWidth;
  var height = img.clientHeight;
  jQuery.validator.addMethod("picSize", function(height, width) {
    return  img.height <600 || img.width <600;
  }, "Please insert a picture  size smaller than 500kb ");
   */

  $("#saveRegister").click(function(){
   
    $('input').removeClass('required');
    $("#mobileno").rules("remove");
    $("#inputimage").rules("remove");
    $("#new").attr('action','{{@BASE}}/saveRegister');
    $("#new").submit();
  });

  /*
      $("#saveRegister").click(function() {
        if ($("#new").validate().form()) {
            $("#new").attr('action','{{@BASE}}/saveRegister');
        }
    });*/

  // Dynamic permanent address load district and zone
  function pAddress() {
    var zone = $('#p_zone_id').val();
    $.get('{{@BASE}}/getDistricts/' + zone, '', function(data) {
      var districts = '';
      var post_district = '{{trim(@POST.p_district_id)}}';
      for(i in data) {
        districts += '<option value="' + data[i] + '"' + (data[i] == post_district ? ' selected="selected"' : '') + '>' + data[i] + '</option>';
      }
      $('#p_district_id').html(districts);
      console.log(districts);
    }, 'json');
  }
  // Dynamic temporary address load district and zone
  function tAddress() {
    var zone = $('#temp_zone_id').val();
    $.get('{{@BASE}}/getDistricts/' + zone, '', function(data) {
      var districts = '';
      var post_district = '{{trim(@POST.temp_district_id)}}';
      for(i in data) {
        districts += '<option value="' + data[i] + '"' + (data[i] == post_district ? ' selected="selected"' : '') + '>' + data[i] + '</option>';
      }
      $('#temp_district_id').html(districts);
      console.log(districts);
    }, 'json');
  }

  function cAddress(){
    var zone = $('#creditor_zone_id').val();
    $.get('{{@BASE}}/getDistricts/' + zone, '', function(data) {
      var districts = '';
      var post_district = '{{trim(@POST.creditor_district_id)}}';
      for(i in data) {
        districts += '<option value="' + data[i] + '"' + (data[i] == post_district ? ' selected="selected"' : '') + '>' + data[i] + '</option>';
      }
      $('#creditor_district_id').html(districts);
      console.log(districts);
    }, 'json');
    
  }
  $(document).ready(function() {
    pAddress();
    tAddress();
    cAddress();
    getVdc();
  });
  $('#p_zone_id').change(function() {
    pAddress();
  });
  $('#temp_zone_id').change(function() {
    tAddress();
  });

  $('#creditor_zone_id').change(function() {
    cAddress();
  });
  
  $('#inputimage').bind('change', function() {
    //this.files[0].size gets the size of your file.
    if(this.files[0].size >5000000 ){
      alert("please insert small size photo");
      $('#inputimage').val('');
    }
    
  });
  
  //show other change on company
  $('#manufacture_id').change(function (){
    var choose = $(this).children(":selected").attr("value");
    if(choose == '2045'){
      $('#other_company').show();
    } 
    else
    {
      $('#other_company').hide();
    }
  });
 
  $('#fuel_type_id').change(function (){
    var choose = $(this).children(":selected").attr("value");
    if(choose == '10'){
      $('#other_fuel').show();
    }
    else
    {
      $('#other_fuel').hide();
    }
  });
  $('#purpose_id').change(function (){
    var choose = $(this).children(":selected").attr("value");
    if(choose == '9'){
      $('#other_use').show();
    }
    else
    {
      $('#other_use').hide();
    }
  });
  $('#type').change(function (){
    var choose = $(this).children(":selected").attr("value");
    if(choose == '257'){
      $('#other_vehicle').show();
    }
    else
    {
      $('#other_vehicle').hide();
    }
  });

  var wheel='{{@POST.wheeler}}';
  if(wheel == 22){
    $("#hood").show();
    $("#glass_color").show();
  }else{
    $("#hood").show();
    $("#glass_color").show();
  }

  
  var company='{{@POST.manufacture_id}}';
  var fuel='{{@POST.fuel_type_id}}';
  var purpose='{{@POST.purpose_id}}';
  var type='{{@POST.type}}';
  if(company == '2045')
  {
      
    $('#other_company').show();
  }
  if(fuel == '10')
  {
    $('#other_fuel').show();
  }
  if(purpose == '9')
  {
    $('#other_use').show();
  }
  if(type == '257')
  {
    $('#other_vehicle').show();
  }
  //modified by sabin Sharma
   var n='{{@POST.custom_receive_type}}';
  var y="{{@POST.custom_office_type}}";
  //var lilami='{{@POST}}';
  // var jafat='{{@POST}}';
  if(n == 'new'){
    $("#lilami_office").hide();
    $("#jafat_info").hide();
    $("#anya_info").hide();
    $("#customoffice").show();

  }
  if(n == 'lilami'){
    $("#lilami_office").show();
    $("#jafat_info").hide();
    $("#customoffice").show();
    if(y == 'bhansar')
    {
      $("#customoffice").show();
      $("#anya_info").hide();
      $("#jafat_info").hide();

    }
    if(y == 'other')
    {
      $("#customoffice").hide();
      $("#jafat_info").hide();
      $("#anya_info").show();

    }

  }
  if(n == 'jafat'){
    $("#lilami_office").hide();
    $("#customoffice").hide();
    $("#anya_info").hide();
    $("#jafat_info").hide();
    $("#jafat_info").show();

  }
  
  $("#new_type").click(function(){
    $("#lilami_office").hide();
    $("#jafat_info").hide();
    $("#anya_info").hide();
    $("#customoffice").show();
  });
			
			
  $("#lilami_type").click(function(){
    $("#lilami_office").show();
    $("#jafat_info").hide();
    $("#customoffice").show();
  });

  
  $('#lilami_option').change(function (){
    var choose = $(this).children(":selected").attr("value");
		
    if(choose == '2'){
      $("#customoffice").hide();
      $("#jafat_info").hide();
      $("#anya_info").show();
			
    }else{
      if(choose == '1'){
        $("#customoffice").show();
        $("#anya_info").hide();
        $("#jafat_info").hide();
      }
    }
  });
	
  $("#jafat_type").click(function(){
    $("#lilami_office").hide();
    $("#customoffice").hide();
    $("#anya_info").hide();
    $("#jafat_info").hide();
    $("#jafat_info").show();
  });
		 
  //other nationality
  $('#embassy_num').hide();
  $('#other_nationality').hide();
  $('.nepali').show();

  //personal information onchange
   var n='{{@POST.per_nagarikta}}';
   if(n == 1){
      $('#embassy_num').hide();
      $('#other_nationality').hide();
      $('.nepali').show();
    }
    if(n == 2){
      $('#embassy_num').show();
      $('#other_nationality').hide();
      $('.nepali').hide();
    }
    if(n == 3){
      $('#other_nationality').show();
      $('.nepali').hide();
      $('#embassy_num').hide();
    }
  $('#per_nagarikta').change(function() {
    var id = $(this).children(":selected").attr("value");
    if(id == 1){
      $('#embassy_num').hide();
      $('#other_nationality').hide();
      $('.nepali').show();
    }
    if(id == 2){
      $('#embassy_num').show();
      $('#other_nationality').hide();
      $('.nepali').hide();
    }
    if(id == 3){
      $('#other_nationality').show();
      $('.nepali').hide();
      $('#embassy_num').hide();
    }

  });
    //autocomplete for the vdc districts//temp_metropolitan
    $('#p_district_id').change(function() {
    getVdc();
  });
   $('#temp_district_id').change(function() {
    getVdc();
  });
   $('#creditor_district_id').change(function() {
    getVdc();
  });
  function getVdc() {
		district = $("#p_district_id").val() != null ? $("#p_district_id").val() : "काठमाडौ";
    districts = $("#temp_district_id").val() != null ? $("#temp_district_id").val() : "काठमाडौ";
     districtC = $("#creditor_district_id").val() != null ? $("#creditor_district_id").val() : "काठमाडौ";
		//alert(district);
	//$( "#p_metropolitan" ).autocomplete( "destroy" );
		$( "#p_metropolitan" ).autocomplete({
			source: '{{@BASE}}/getVdc/'+district+'/vdc.php',
			minLength: 1

		});
    $( "#temp_metropolitan" ).autocomplete({
			source: '{{@BASE}}/getVdc/'+districts+'/vdc.php',
			minLength: 1

		});
    $( "#creditor_metropolitan" ).autocomplete({
			source: '{{@BASE}}/getVdc/'+districtC+'/vdc.php',
			minLength: 1

		});
	}


  
</script>
<!--http://docs.jquery.com/Plugins/Validation/Methods#List_of_built-in_Validation_methods-->